.ptcima{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
    p,h1,h2,h3,h4{
        font-family: Inter, sans-serif;
    }
    div{
        background-color: #37C79A;
        margin-right: 10px;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
    }
    p{
        margin-left: 10px;
    }
}