


.cmpnavegacao{
    display: flex;
    width: 18%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #363434;
    p,h1,h2,h3,h4{
        font-family: Inter, sans-serif;
    }
    box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
    h3{
        color: #ffff;
        font-size: 16px;
    }
    .heder{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5%;
    }
    .opcoes{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 35%;
        margin-bottom: 30%;    
    }
    .opcao{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 33.3333%;
        cursor: pointer;
    }
    
    .opcao-marcada{
        background-color: #37C79A;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 33.3333%;
        cursor: pointer;
    }



    .opcao:hover{
        
        background-color: #37C79A;
        transition: all 0,1 ease-in;
        transition: all 0.2s;
    }
    .icones{
        height: 30%;
        width: 80%;
    }
    .iconeshome{
        height: 30%;
        width: 70%;
    }
    .iconesair{
        margin-bottom: 15%;
        cursor: pointer;
    }
}